body, html{
	
	padding: 0px;
	margin: 0px;
	
}


#scrollDiv{
	height: 50000px;
}
#me{
	position: fixed;
	top: 329px;
	left: 0px;
	width: 116px;
	height: 271px;
	background: url(../images/meSpriteSheet.png) no-repeat;
	background-position: -492px 0px;
}
#charaterLand{
	position: fixed;
	top:0px;
	left: 0px;
	width: 5000px;
	height: 600px;
	background-color: skyblue;
}
#grass{
	background: url(../images/grass.png) ;
	position: fixed;
	width: 50000px;
	height: 167px;
	top: 433px;

	}
#trees{
	background: url(../images/trees.png) ;
	position: fixed;
	width: 50000px;
	height: 510px;
	top: 90px;
}
#clouds{
	background: url(../images/clouds.png) ;
	position: fixed;
	width: 50000px;
	height: 240px;
	top: 0px;
}
#hills{
	background: url(../images/hills.png) ;
	position: fixed;
	width: 50000px;
	height: 459px;
	top: 141px;
}
#moon{
	background: url(../images/moon.png) no-repeat;
	position: fixed;
	width: 5000px;
	height: 200px;
	top: 0px;
	left: 150px;
}
#sun{
	background: url(../images/sun.png) no-repeat;
	position: fixed;
	width: 5000px;
	height: 492px;
	top: 100px;
	left:3000px;
	
	}
#stars{
	background: url(../images/stars.png) ;
	position: fixed;
	width: 5000px;
	height: 223px;
	

}
#sky{
	background: url(../images/sky.png) no-repeat;
	position: fixed;
	width: 5000px;
	height: 393px;
	top: 0px;
}
#name{
	font-family: 'Fredoka One', cursive;
	font-size: 55px;
	position: absolute;
	
	left:370px;
}
#introText{
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	position: absolute;
	top:70px;
	left:400px;

}
#edu{
	font-family: 'Fredoka One', cursive;
	font-size: 55px;
	position: absolute;
	color: white;
	top:400px;
	left: 670px;
}
#eduText{
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	position: absolute;
	top:470px;
	left: 370px;
	color: white;
}
#workHist{
	font-family: 'Fredoka One', cursive;
	font-size: 35px;
	position: absolute;
	left: 900px;
	top:100px;
	
}
#workHistText{
	font-family: 'Fredoka One', cursive;
	font-size: 15px;
	position: absolute;
	top:200px;
	left: 900px;
	
}
#contact{
	font-family: 'Fredoka One', cursive;
	font-size: 45px;
	position: absolute;
	top:250px;
	left: px;
	color: white;
}
#email{
    font-family: 'Fredoka One', cursive;
	font-size: 45px;
	position: absolute;
	top:300px;
	left: px;
	color: white;

}


